  <div class="container">

  <header> <h1>Show lists</h1></header>
  <div class="card text-center">
    <h2><%= @lists.name %></h2>


<div class="card-trip">
<% @lists.each do |list| %>
    <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
  <div class="card-trip-infos">
    <div>
      <h2><%= link_to list.name, list_path(list)%></h2>
      <% end %>
    </div>
</div>
</div>




<div class="card text-center">
<button><%= link_to "Add List", new_list_path(@list) %></button>
</div>

</div>





</div>
