
<div class="container text-center border">
<h1>Show lists</h1>
<div class="card text-center">
<h2><%= @lists.name %></h2>


<div class="card text-center">
<ol class="list-group">
  <% @lists.each do |list| %>
    <li class="list-group-item"><%= link_to list.name, list_path(list)%></li>
    <img src="https://media.istockphoto.com/id/458646439/photo/dvd-movie-collection-studio-shot.jpg?s=612x612&w=0&k=20&c=FEYe4vxGpfqKsG8QhcLxAteoUK5lxmN9wFv2j2wUUug=" alt="coll">
  <% end %>
  </div>





</div>
<div class="card text-center">




<div class="card text-center">
<button><%= link_to "Add List", new_list_path(@list) %></button>
</div>

</div>
