<div class="container text-center">
<div class="card text-center">
<h1>New bookmark</h1>
</div>
<div class="card text-center">

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit %>
<% end %>


</div>

<div class="card text-center">


</div>
</div>
